<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">
	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Admin</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>
	<div class="col-sm-6 col-sm-offset-3">

		<h1><span class="fa fa-sign-in"></span> Edit User</h1>
		
		<!-- LOGIN FORM -->
		<form action="/admin/editUser/<%=user[0]._id%>" method="post">
			<div class="form-group">
				<label for="domain">Domain Name</label>
				<input type="text" class="form-control" name="domain" value="<%= user[0].domain %>">
			</div>
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" name="name" value="<%= user[0].name %>">
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="text" class="form-control" name="email" value="<%= user[0].email %>">
			</div>
			<div class="form-group">
				<label for="flagAdmin">Is Admin?</label>
				<select name="flagAdmin" class="form-control">
					<option value="true">True</option>
					<option value="false">False</option>
				</select>
			</div>
			<div class="form-group">
				<label for="flagActive">Is Active?</label>
				<select name="flagActive" class="form-control">
					<option value="true">True</option>
					<option value="false">False</option>
				</select>
			</div>
			
			<button type="submit" class="btn btn-warning btn-lg">Save</button>
		</form>

		<hr>
		<p>Or go <a href="/admin">back</a>.</p>

	</div>

</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/scripts.js"></script>

</body>
</html>