doctype html
html(lang="en")
  head
    title Trimark Email Backup System
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js'></script>
    <script src='/js/global.js'></script>